.navba{
    background-color: #dda38b;
    color: white !important;
}
.inactive{
    color: whitesmoke !important;
}
.toggler{
    color: whitesmoke !important;
}
.active{
    color: orange !important;
}

.mr-2{
    color: white !important;
}