.nav-toggler{
    border: 1px solid white !important;
}

.navba{
    background-color: #dda38b;
    color: white ;
}
.inactive{
    color: whitesmoke;
}
.inactive:hover{
    color: orange;
}

.mr-2{
    color: white !important;
}