/* place holder image */

.jumbotron{
    color: black;
    background-color: #fff !important;
}

span{
    font-size: large;
}

// .carousel-img{
//     max-width: 100% !important;
//     height: auto !important;

// }
