.fab{
  color: #009DBD!important;
}
.fas{
  color: #009DBD ;
}
.fab:hover{
  color: orange !important;
}
.fas:hover{
  color: orange !important;
}
.footLink{
  color: white;
  text-decoration: none !important;
}
.footLink:hover{
  color: orange !important;
  text-decoration: none !important;
}

.site-footer{
  position: relative;
  left: 0;
  bottom: 0;
  background: #dda38b;
  padding: 20px 0;
  height: auto;
  width: 100%;
}

@media only screen and (min-width:768px){
  .site-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: #dda38b;
    padding: 20px 0;
    height: auto;
    width: 100%;
  }
}

