.fab{
  color: #009DBD!important;
}
.fas{
  color: #009DBD ;
}
.fab:hover{
  color: orange !important;
}
.fas:hover{
  color: orange !important;
}
.footLink{
  color: white;
  text-decoration: none !important;
}
.footLink:hover{
  color: orange !important;
  text-decoration: none !important;
}
.site-footer{
  background: #dda38b;
  padding: 20px 0;
  height: auto;
}

.page-enter{
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit{
  opacity: 1;
}

.page-exit-active{
  opacity: 0;
  transition: 300ms ease-in;
}